---
import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import ExternalLinkIcon from "../components/ui/icons/external-link.astro";
import { SITE_TITLE } from "../config";
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { href, class: className, ...props } = Astro.props;

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
  type: "blog",
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );

  const toggleSubscribeForm = () => {
  }
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <div class="subtext">Read my posts from your inbox!</div>
    <a
      id="subscribe"
      class:list={[
        className,
        "header-link unset",
        "animated",
        "gradient-colors",
      ]}
      {...props}
      >
        Subscribe
    </a>
    <script>
      const subscribeButton = document.getElementById('subscribe') as HTMLElement;
      subscribeButton.addEventListener('click', () => {
        const form = document.getElementById('mc_embed_signup') as HTMLElement;
        if (form.style.display === 'none' || form.style.display === '') {
          console.log('displaying form');
          form.style.display = 'block';
        } else {
          console.log('hiding form');
          form.style.display = 'none';
        }
      });
    </script>
    <style>
      a.gradient-colors {
        --animated-underline-from: var(--text-heading);
        --animated-underline-to: var(--text-heading);
      }
    
      .header-link {
        text-decoration: none;
        color: var(--text-heading);
        border-bottom: none;
        margin: 0;
      }
    </style>

    <div id="mc_embed_shell">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{
          background:#18181B; 
          clear:left; 
          font:14px Helvetica,Arial,sans-serif; 
          width: px;
          display: none;
        }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
        <form action="https://mihirsahu.us8.list-manage.com/subscribe/post?u=4f93d29cebb5b4577d20305cd&amp;id=91bd73e858&amp;f_id=00f106e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll">
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div><div class="mc-field-group"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div>
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
            /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
            <input type="text" name="b_4f93d29cebb5b4577d20305cd_91bd73e858" tabindex="-1" value="">
        </div>
            <div class="optionalParent">
                <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                    <p style="margin: 0px auto;"><a href="http://eepurl.com/iIt7EA" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                </div>
            </div>
        </div>
    </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>

    <br/>
    <ul>
      {
        sortedPosts.map((post) => {
          const formattedDate = new Date(
            post.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="post">
              <div class="title">
                {post.frontmatter.external ? (
                  <a href={post.frontmatter.url} target="_blank">
                    <span>{post.frontmatter.title}</span>
                    <ExternalLinkIcon
                      class="icon-realign"
                      title="Link to external post"
                      height={16}
                      width={16}
                    />
                  </a>
                ) : (
                  <a href={`/blog/${post.slug}`}>{post.frontmatter.title}</a>
                )}
              </div>
              <div class="publish-date">
                <time datetime={post.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }

  .post {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 1.5;
  }

  @media (min-width: 640px) {
    .post {
      grid-template-columns: 1fr auto;
    }
  }

  .post + .post {
    padding-top: 0.5rem;
  }

  .title a {
    color: var(--text);
    border-bottom: none;
  }

  .title a:hover {
    color: var(--text-link);
  }

  .icon-realign {
    margin-bottom: -1.5px;
    margin-left: 2px;
  }

  .publish-date {
    color: var(--text-muted);
    font-size: 0.875rem;
    font-style: italic;
  }

  .subtext {
    color: var(--text-heading);
    font-size: 1.25rem;
    letter-spacing: -0.51px;
    line-height: 2rem;
    margin-top: 0.5rem;
  }
</style>
